.header{
  margin-top: 25px;
  font-family: 'Passero One', cursive;
}

img {
  -webkit-filter: drop-shadow(0px 0px 8px rgba(0, 231, 255, 0.8));
  height: 100px;
}

.btn {
  font-size: 17.5px;
  width: 100%;
  background: white;
  color: #3E6266;
  border-radius: 25px;
  text-transform: capitalize;
}

.left {
  margin-right: -15px;
}

.right {
  margin-left: -15px;
}


.active {
  background: #3E6266;
  color: white;
  -webkit-filter: drop-shadow(0px 0px 10px rgba(0, 231, 255, 0.8));
}

@media (max-width: 800px) {
  .hide {
    display: none;
  }

  .header{
    margin-top: 10px;
    font-family: 'Passero One', cursive;
  }

  img {
    -webkit-filter: drop-shadow(0px 0px 8px rgba(0, 231, 255, 0.8));
    height: 50px;
  }

  .btn {
    font-size: 15px;
  }
}
